.modal-content {
    background-color: #d1d1d1;
}

.desktop-header{
    background-color: #343a40;
}

.desktop-header .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desktop-header .userInfo{
    position: absolute;
    top: 0px;
    right: 8px;
    padding-top: 6px;
    z-index: 1;
}

.desktop-header .userInfo img{
    width: 37.8px;
    height: 37.8px;
    align-self: center;
    margin-right: 60px;
    margin-left: 8px;
}

.desktop-header .login-register{
    position: absolute;
    top: 0px;
    right: 16px;
    padding-top: 68px;
}

.login-register-l {
    display: none;
    padding-top: 15px;
}

.container h1 {
    text-align: center;
    color: #343a40;
    padding-top: 30px;
}

.container .results{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 991px){
    .desktop-header .userInfo{
        right: 0px;
        padding-top: 34px;
    }

    .login-register {
        display: none;
    }
    .login-register-l {
        display: block;
    }
}

@media only screen and (max-width: 767px){
    
}