.desktop-header{
    background-color: #343a40;
}

.desktop-header .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desktop-header .userInfo{
    position: absolute;
    top: 0px;
    right: 8px;
    padding-top: 6px;
    z-index: 1;
}

.desktop-header .userInfo img{
    width: 37.8px;
    height: 37.8px;
    align-self: center;
    margin-right: 60px;
    margin-left: 8px;
}

.desktop-header .login-register{
    position: absolute;
    top: 0px;
    right: 16px;
    padding-top: 68px;
}

.login-register-l {
    display: none;
    padding-top: 15px;
}

.container h1 {
    text-align: center;
    color: #343a40;
    padding-top: 30px;
}

.container .btn{
    position: relative;
    float: right;
}

.new-content {
    width: 100%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.new-content .details {
    width: 50%;
    position: relative;
    float: left;
    padding-top: 15px;
    padding-right: 15px;
}

.new-content .details select {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: .2rem;
}

.new-content .details .images img{
    width: 30%;
}

.new-content .details .btn-send{
    padding-top: 15px;
}

.new-content .my-content {
    height: 975px;
    position: relative;
    float: right;
    overflow-y: auto;
}

.new-content .my-content h4{
    background-color: #d1d1d1;
    position: sticky;
    top: 0;
    z-index: 1;
}

body{
    background-color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 991px){
    .desktop-header .userInfo{
        right: 0px;
        padding-top: 34px;
    }

    .login-register {
        display: none;
    }
    .login-register-l {
        display: block;
    }

    .new-content .details {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px){
    
}