.modal-content {
    background-color: #d1d1d1;
}

.desktop-header{
    background-color: #343a40;
}

.desktop-header .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desktop-header .userInfo{
    position: absolute;
    top: 0px;
    right: 8px;
    padding-top: 6px;
    z-index: 1;
}

.desktop-header .userInfo img{
    width: 37.8px;
    height: 37.8px;
    align-self: center;
    margin-right: 60px;
    margin-left: 8px;
}

.desktop-header .login-register{
    position: absolute;
    top: 0px;
    right: 16px;
    padding-top: 68px;
}

.login-register-l {
    display: none;
    padding-top: 15px;
}

.container .news {
    background-color: white;
    border-radius: 2rem;
}

.container .title {
    text-align: center;
    font-weight: bold;
    color: #343a40;
    padding-top: 30px;
}

.container .subtitle {
    text-align: center;
    color: #343a40;
}

.container .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container .extras {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.container .details {
    font-size: 1.1756rem;
    width: 80%;
    padding-top: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container .details img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container .back {
    background-color: white;
    border-radius: 2rem;
}

.container .comments {
    height: 375px;
    width: 50%;
    position: relative;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.container .comments h4{
    background-color: #d1d1d1;
    border-radius: .5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

body{
    background-color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 991px){
    .desktop-header .userInfo{
        right: 0px;
        padding-top: 34px;
    }

    .login-register {
        display: none;
    }
    .login-register-l {
        display: block;
    }

    .new-content .details {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px){
    
}