.desktop-header{
    background-color: #343a40;
}

.desktop-header .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desktop-header .userInfo{
    position: absolute;
    top: 0px;
    right: 8px;
    padding-top: 6px;
    z-index: 1;
}

.desktop-header .userInfo img{
    width: 37.8px;
    height: 37.8px;
    align-self: center;
    margin-right: 60px;
    margin-left: 8px;
}

.desktop-header .login-register{
    position: absolute;
    top: 0px;
    right: 16px;
    padding-top: 68px;
}

.login-register-l {
    display: none;
    padding-top: 15px;
}

.container h1 {
    text-align: center;
    color: #343a40;
    padding-top: 30px;
}

.container .btn{
    position: relative;
    float: right;
}

.personal-data {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.personal-data .userInf, .personal-data .userImg, 
.personal-data .social-media {
    position: relative;
    padding-top: 15px;
}

.personal-data .userImg img{
    padding-left: 230px;
    padding-bottom: 10px;
}

.personal-data .social-media {
    padding-bottom: 15px;
}

.personal-data .social-media span {
    width: 85px;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-top: 7px;
}

.personal-data .social-media .inputFB {
    background-color: #3b5998;
}

.personal-data .social-media .inputTwitter {
    background-color: #1da1f2;
}

.personal-data .social-media .inputInsta {
    background-color: #c32aa3;
}

.personal-data .favorites {
    position: relative;
    height: 494px;
    overflow-y: auto;
}

.personal-data .favorites h4{
    background-color: #d1d1d1;
    position: sticky;
    top: 0;
    z-index: 1;
}

body{
    background-color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 991px){
    .desktop-header .userInfo{
        right: 0px;
        padding-top: 34px;
    }

    .login-register {
        display: none;
    }
    .login-register-l {
        display: block;
    }

    .personal-data .userInf {
        padding-left: 0px;
    }

    .personal-data .userImg{
        padding-right: 0px;
    }

    .personal-data .userImg img{
        padding-left: 125px;
    }
}

@media only screen and (max-width: 767px){
    .personal-data .userImg img{
        padding-left: 80px;
    }
}