.desktop-header{
    background-color: #343a40;
}

.desktop-header .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    text-align: center;
    color: #343a40;
    padding-top: 30px;
}

.container .register-form {
    background-color: #d1d1d1;
    border-radius: 8px;
    box-shadow: 0px 14px 0 5px rgba(44,44,44,.4);
    width: 400px;
    margin: 0 auto;
    padding: 30px;
}

body{
    background-color: #2FCC76;
    font-family: Arial, Helvetica, sans-serif;
}